In [1]:
import pandas as pd
import os
import statistics

In [2]:
df = pd.DataFrame()

無風險利率

In [3]:
file = pd.read_csv(filepath_or_buffer=os.getcwd() + "\\risk_free_interest_rate.csv")
df_risk_free = pd.DataFrame(file)
df["日期"] = df_risk_free["日期"]
df["無風險利率"] = df_risk_free["無風險利率"]
df

              日期    無風險利率
0     2019-01-02  0.01300
1     2019-01-03  0.01300
2     2019-01-04  0.01300
3     2019-01-07  0.01330
4     2019-01-08  0.01340
...          ...      ...
1031  2023-04-24  0.01555
1032  2023-04-25  0.01555
1033  2023-04-26  0.01595
1034  2023-04-27  0.01585
1035  2023-04-28  0.01585

[1036 rows x 2 columns]

市場報酬率

In [4]:
file = pd.read_csv(filepath_or_buffer=os.getcwd() + "\\index.csv")
df_index = pd.DataFrame(file)
df["市場報酬率"] = df_index["漲跌百分比"]
df

              日期    無風險利率   市場報酬率
0     2019-01-02  0.01300 -0.0178
1     2019-01-03  0.01300 -0.0065
2     2019-01-04  0.01300 -0.0116
3     2019-01-07  0.01330  0.0221
4     2019-01-08  0.01340 -0.0028
...          ...      ...     ...
1031  2023-04-24  0.01555  0.0015
1032  2023-04-25  0.01555 -0.0164
1033  2023-04-26  0.01595  0.0003
1034  2023-04-27  0.01585  0.0024
1035  2023-04-28  0.01585  0.0109

[1036 rows x 3 columns]

2357收盤價

In [5]:
file = pd.read_csv(filepath_or_buffer=os.getcwd() + "\\price_2357.csv")
df_price_2357 = pd.DataFrame(file)
df["2357收盤價"] = df_price_2357["Close"]
df

              日期    無風險利率   市場報酬率  2357收盤價
0     2019-01-02  0.01300 -0.0178    203.5
1     2019-01-03  0.01300 -0.0065    204.0
2     2019-01-04  0.01300 -0.0116    209.5
3     2019-01-07  0.01330  0.0221    216.0
4     2019-01-08  0.01340 -0.0028    216.0
...          ...      ...     ...      ...
1031  2023-04-24  0.01555  0.0015    278.5
1032  2023-04-25  0.01555 -0.0164    278.0
1033  2023-04-26  0.01595  0.0003    275.5
1034  2023-04-27  0.01585  0.0024    280.0
1035  2023-04-28  0.01585  0.0109    282.5

[1036 rows x 4 columns]

2382收盤價

In [6]:
file = pd.read_csv(filepath_or_buffer=os.getcwd() + "\\price_2382.csv")
df_price_2357 = pd.DataFrame(file)
df["2382收盤價"] = df_price_2357["Close"]
df

              日期    無風險利率   市場報酬率  2357收盤價    2382收盤價
0     2019-01-02  0.01300 -0.0178    203.5  52.099998
1     2019-01-03  0.01300 -0.0065    204.0  52.500000
2     2019-01-04  0.01300 -0.0116    209.5  52.000000
3     2019-01-07  0.01330  0.0221    216.0  52.500000
4     2019-01-08  0.01340 -0.0028    216.0  52.799999
...          ...      ...     ...      ...        ...
1031  2023-04-24  0.01555  0.0015    278.5  85.000000
1032  2023-04-25  0.01555 -0.0164    278.0  83.699997
1033  2023-04-26  0.01595  0.0003    275.5  83.099998
1034  2023-04-27  0.01585  0.0024    280.0  85.300003
1035  2023-04-28  0.01585  0.0109    282.5  85.900002

[1036 rows x 5 columns]

2417收盤價

In [7]:
file = pd.read_csv(filepath_or_buffer=os.getcwd() + "\\price_2417.csv")
df_price_2417 = pd.DataFrame(file)
df["2417收盤價"] = df_price_2417["Close"]
df

              日期    無風險利率   市場報酬率  2357收盤價    2382收盤價    2417收盤價
0     2019-01-02  0.01300 -0.0178    203.5  52.099998  12.687500
1     2019-01-03  0.01300 -0.0065    204.0  52.500000  12.875000
2     2019-01-04  0.01300 -0.0116    209.5  52.000000  12.625000
3     2019-01-07  0.01330  0.0221    216.0  52.500000  12.812500
4     2019-01-08  0.01340 -0.0028    216.0  52.799999  13.000000
...          ...      ...     ...      ...        ...        ...
1031  2023-04-24  0.01555  0.0015    278.5  85.000000  23.200001
1032  2023-04-25  0.01555 -0.0164    278.0  83.699997  22.750000
1033  2023-04-26  0.01595  0.0003    275.5  83.099998  22.900000
1034  2023-04-27  0.01585  0.0024    280.0  85.300003  22.799999
1035  2023-04-28  0.01585  0.0109    282.5  85.900002  23.150000

[1036 rows x 6 columns]

2357實際報酬率

In [8]:
L = [0]
prices = df["2357收盤價"]
for i in range(1, len(prices)):
    L.append((prices[i] - prices[i - 1]) / prices[i - 1])
df["2357實際報酬率"] = L
df

              日期    無風險利率   市場報酬率  2357收盤價    2382收盤價    2417收盤價  2357實際報酬率
0     2019-01-02  0.01300 -0.0178    203.5  52.099998  12.687500   0.000000
1     2019-01-03  0.01300 -0.0065    204.0  52.500000  12.875000   0.002457
2     2019-01-04  0.01300 -0.0116    209.5  52.000000  12.625000   0.026961
3     2019-01-07  0.01330  0.0221    216.0  52.500000  12.812500   0.031026
4     2019-01-08  0.01340 -0.0028    216.0  52.799999  13.000000   0.000000
...          ...      ...     ...      ...        ...        ...        ...
1031  2023-04-24  0.01555  0.0015    278.5  85.000000  23.200001   0.009058
1032  2023-04-25  0.01555 -0.0164    278.0  83.699997  22.750000  -0.001795
1033  2023-04-26  0.01595  0.0003    275.5  83.099998  22.900000  -0.008993
1034  2023-04-27  0.01585  0.0024    280.0  85.300003  22.799999   0.016334
1035  2023-04-28  0.01585  0.0109    282.5  85.900002  23.150000   0.008929

[1036 rows x 7 columns]

2382實際報酬率

In [9]:
L = [0]
prices = df["2382收盤價"]
for i in range(1, len(prices)):
    L.append((prices[i] - prices[i - 1]) / prices[i - 1])
df["2382實際報酬率"] = L
df

,日期,無風險利率,市場報酬率,2357收盤價,2382收盤價,2417收盤價,2357實際報酬率,2382實際報酬率
0,2019-01-02,0.01300,-0.0178,203.5,52.099998,12.687500,0.000000,0.000000
1,2019-01-03,0.01300,-0.0065,204.0,52.500000,12.875000,0.002457,0.007678
2,2019-01-04,0.01300,-0.0116,209.5,52.000000,12.625000,0.026961,-0.009524
3,2019-01-07,0.01330,0.0221,216.0,52.500000,12.812500,0.031026,0.009615
4,2019-01-08,0.01340,-0.0028,216.0,52.799999,13.000000,0.000000,0.005714
...,...,...,...,...,...,...,...,...
1031,2023-04-24,0.01555,0.0015,278.5,85.000000,23.200001,0.009058,0.008304
1032,2023-04-25,0.01555,-0.0164,278.0,83.699997,22.750000,-0.001795,-0.015294
1033,2023-04-26,0.01595,0.0003,275.5,83.099998,22.900000,-0.008993,-0.007168
1034,2023-04-27,0.01585,0.0024,280.0,85.300003,22.799999,0.016334,0.026474
1035,2023-04-28,0.01585,0.0109,282.5,85.900002,23.150000,0.008929,0.007034

2417實際報酬率

In [10]:
L = [0]
prices = df["2417收盤價"]
for i in range(1, len(prices)):
    L.append((prices[i] - prices[i - 1]) / prices[i - 1])
df["2417實際報酬率"] = L
df

,日期,無風險利率,市場報酬率,2357收盤價,2382收盤價,2417收盤價,2357實際報酬率,2382實際報酬率,2417實際報酬率
0,2019-01-02,0.01300,-0.0178,203.5,52.099998,12.687500,0.000000,0.000000,0.000000
1,2019-01-03,0.01300,-0.0065,204.0,52.500000,12.875000,0.002457,0.007678,0.014778
2,2019-01-04,0.01300,-0.0116,209.5,52.000000,12.625000,0.026961,-0.009524,-0.019417
3,2019-01-07,0.01330,0.0221,216.0,52.500000,12.812500,0.031026,0.009615,0.014851
4,2019-01-08,0.01340,-0.0028,216.0,52.799999,13.000000,0.000000,0.005714,0.014634
...,...,...,...,...,...,...,...,...,...
1031,2023-04-24,0.01555,0.0015,278.5,85.000000,23.200001,0.009058,0.008304,0.000000
1032,2023-04-25,0.01555,-0.0164,278.0,83.699997,22.750000,-0.001795,-0.015294,-0.019397
1033,2023-04-26,0.01595,0.0003,275.5,83.099998,22.900000,-0.008993,-0.007168,0.006593
1034,2023-04-27,0.01585,0.0024,280.0,85.300003,22.799999,0.016334,0.026474,-0.004367
1035,2023-04-28,0.01585,0.0109,282.5,85.900002,23.150000,0.008929,0.007034,0.015351

2357 Beta值

In [11]:
x = df["2357實際報酬率"]
y = df["市場報酬率"]
beta_2357 = statistics.covariance(x, y) / statistics.variance(y)
beta_2357

0.637792711398514

2382 Beta值

In [12]:
x = df["2382實際報酬率"]
y = df["市場報酬率"]
beta_2382 = statistics.covariance(x, y) / statistics.variance(y)
beta_2382

0.7200228151700513

2417 Beta值

In [13]:
x = df["2417實際報酬率"]
y = df["市場報酬率"]
beta_2417 = statistics.covariance(x, y) / statistics.variance(y)
beta_2417

1.0124030141470577

2357超常報酬率

In [14]:
L = [(df["2357實際報酬率"][i] - (df["無風險利率"][i] + (df["市場報酬率"][i] - df["無風險利率"][i]) * beta_2357)) for i in range(df.shape[0])]
df["2357超常報酬率"] = L
df

,日期,無風險利率,市場報酬率,2357收盤價,2382收盤價,2417收盤價,2357實際報酬率,2382實際報酬率,2417實際報酬率,2357超常報酬率
0,2019-01-02,0.01300,-0.0178,203.5,52.099998,12.687500,0.000000,0.000000,0.000000,0.006644
1,2019-01-03,0.01300,-0.0065,204.0,52.500000,12.875000,0.002457,0.007678,0.014778,0.001894
2,2019-01-04,0.01300,-0.0116,209.5,52.000000,12.625000,0.026961,-0.009524,-0.019417,0.029650
3,2019-01-07,0.01330,0.0221,216.0,52.500000,12.812500,0.031026,0.009615,0.014851,0.012114
4,2019-01-08,0.01340,-0.0028,216.0,52.799999,13.000000,0.000000,0.005714,0.014634,-0.003068
...,...,...,...,...,...,...,...,...,...,...
1031,2023-04-24,0.01555,0.0015,278.5,85.000000,23.200001,0.009058,0.008304,0.000000,0.002469
1032,2023-04-25,0.01555,-0.0164,278.0,83.699997,22.750000,-0.001795,-0.015294,-0.019397,0.003032
1033,2023-04-26,0.01595,0.0003,275.5,83.099998,22.900000,-0.008993,-0.007168,0.006593,-0.014961
1034,2023-04-27,0.01585,0.0024,280.0,85.300003,22.799999,0.016334,0.026474,-0.004367,0.009062
1035,2023-04-28,0.01585,0.0109,282.5,85.900002,23.150000,0.008929,0.007034,0.015351,-0.003764

2382超常報酬率

In [15]:
L = [(df["2382實際報酬率"][i] - (df["無風險利率"][i] + (df["市場報酬率"][i] - df["無風險利率"][i]) * beta_2382)) for i in range(df.shape[0])]
df["2382超常報酬率"] = L
df

,日期,無風險利率,市場報酬率,2357收盤價,2382收盤價,2417收盤價,2357實際報酬率,2382實際報酬率,2417實際報酬率,2357超常報酬率,2382超常報酬率
0,2019-01-02,0.01300,-0.0178,203.5,52.099998,12.687500,0.000000,0.000000,0.000000,0.006644,0.009177
1,2019-01-03,0.01300,-0.0065,204.0,52.500000,12.875000,0.002457,0.007678,0.014778,0.001894,0.008718
2,2019-01-04,0.01300,-0.0116,209.5,52.000000,12.625000,0.026961,-0.009524,-0.019417,0.029650,-0.004811
3,2019-01-07,0.01330,0.0221,216.0,52.500000,12.812500,0.031026,0.009615,0.014851,0.012114,-0.010021
4,2019-01-08,0.01340,-0.0028,216.0,52.799999,13.000000,0.000000,0.005714,0.014634,-0.003068,0.003979
...,...,...,...,...,...,...,...,...,...,...,...
1031,2023-04-24,0.01555,0.0015,278.5,85.000000,23.200001,0.009058,0.008304,0.000000,0.002469,0.002870
1032,2023-04-25,0.01555,-0.0164,278.0,83.699997,22.750000,-0.001795,-0.015294,-0.019397,0.003032,-0.007839
1033,2023-04-26,0.01595,0.0003,275.5,83.099998,22.900000,-0.008993,-0.007168,0.006593,-0.014961,-0.011850
1034,2023-04-27,0.01585,0.0024,280.0,85.300003,22.799999,0.016334,0.026474,-0.004367,0.009062,0.020308
1035,2023-04-28,0.01585,0.0109,282.5,85.900002,23.150000,0.008929,0.007034,0.015351,-0.003764,-0.005252

2417超常報酬率

In [16]:
L = [(df["2417實際報酬率"][i] - (df["無風險利率"][i] + (df["市場報酬率"][i] - df["無風險利率"][i]) * beta_2417)) for i in range(df.shape[0])]
df["2417超常報酬率"] = L
df

,日期,無風險利率,市場報酬率,2357收盤價,2382收盤價,2417收盤價,2357實際報酬率,2382實際報酬率,2417實際報酬率,2357超常報酬率,2382超常報酬率,2417超常報酬率
0,2019-01-02,0.01300,-0.0178,203.5,52.099998,12.687500,0.000000,0.000000,0.000000,0.006644,0.009177,0.018182
1,2019-01-03,0.01300,-0.0065,204.0,52.500000,12.875000,0.002457,0.007678,0.014778,0.001894,0.008718,0.021520
2,2019-01-04,0.01300,-0.0116,209.5,52.000000,12.625000,0.026961,-0.009524,-0.019417,0.029650,-0.004811,-0.007512
3,2019-01-07,0.01330,0.0221,216.0,52.500000,12.812500,0.031026,0.009615,0.014851,0.012114,-0.010021,-0.007358
4,2019-01-08,0.01340,-0.0028,216.0,52.799999,13.000000,0.000000,0.005714,0.014634,-0.003068,0.003979,0.017635
...,...,...,...,...,...,...,...,...,...,...,...,...
1031,2023-04-24,0.01555,0.0015,278.5,85.000000,23.200001,0.009058,0.008304,0.000000,0.002469,0.002870,-0.001326
1032,2023-04-25,0.01555,-0.0164,278.0,83.699997,22.750000,-0.001795,-0.015294,-0.019397,0.003032,-0.007839,-0.002600
1033,2023-04-26,0.01595,0.0003,275.5,83.099998,22.900000,-0.008993,-0.007168,0.006593,-0.014961,-0.011850,0.006488
1034,2023-04-27,0.01585,0.0024,280.0,85.300003,22.799999,0.016334,0.026474,-0.004367,0.009062,0.020308,-0.006600
1035,2023-04-28,0.01585,0.0109,282.5,85.900002,23.150000,0.008929,0.007034,0.015351,-0.003764,-0.005252,0.004512

In [17]:
df.to_csv(path_or_buf=os.getcwd() + "\\abnormal_return.csv", index=False)